body {
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(255, 255, 255);
    color: rgb(7, 7, 7);
  }
  
  .navbar-laravel {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  }
  
  .navbar-brand {
    color: rgb(7, 7, 7) !important;
  }
  
  .nav-link {
    color: rgb(7, 7, 7) !important;
  }
  
  .table-dark {
    color: rgb(7, 7, 7);
  }
  
  .list-group-item {
    border-color: rgb(7, 7, 7);
    background-color: rgb(255, 255, 255);
  }
  
  .login-box {
    background-color: rgb(255, 255, 255);
  }
  
  .login-header {
    background-color: rgb(255, 255, 255);
  }
  
  .login-body {
    background-color: rgb(255, 255, 255);
  }